/* styles.css */
.video-item {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px; /* Aumentamos la separación para dar espacio a la descripción */
}

.video-item h3 {
  margin: 10px 0;
}

.video-item p {
  margin: 0;
  color: #1d1d1d;
}